:root{
  --main-color: #2196f3;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
}

h2 {
  font-size: 1em;
  font-family: "Krona One", sans-serif;
}

header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 15px;
}

nav {
  grid-area: menu;
  border-radius: 15px;
}

nav a,
input[type="text"] {
  background-color: white;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="text"]:focus {
  border: 1px solid var(--main-color);
  margin: 5px;
  outline: none;
}

#fechas input[type="text"]:focus {
  box-shadow: 0 0 6px 0 var(--main-color), 0 6px 20px 0 var(--main-color);
}

input[type="text"]:nth-child(2) {
  text-align: right;
}

label {
  display: block;
}

nav a:hover,
#standard button:hover, /*TODO porque si pongo button:hover no me aplica a todos los buttons?*/
#fechas button:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
}

main {
  grid-area: main;
  border-radius: 15px;
}

section {
  grid-area: section;
  border-radius: 15px;
}

.grid_container > footer {
  background-color: rgba(255, 255, 255, 0.8);
  grid-area: footer;
  text-align: left;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer > a {
  color: var(--main-color);
  text-decoration: none;
}

footer p:last-child {
  display: inline;
  right: 20px;
  position: absolute;
  margin: 0px;
}

#fechas button{
  margin: 10px;
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
}

#standard button {
  cursor: pointer;
  background-color: #cddc398a;
  border: 1px solid orange;
  border-radius: 4px;
  width: 20%;
  font-weight: 700;
  font-size: 1em;
  padding: 10px;
}

#standard button:nth-child(4),
#standard button:nth-child(5) {
  width: 12%!important;
}

#standard button:nth-child(6) {
  width: 16%!important;
}

#standard button:focus,
nav a:focus {
  background-color: orange;
  outline: none;
}

main > section#standard div:last-child > button:last-child{
  width: 100%;
}

#operand {
  font-weight: 700;
}

#operacion {
  color: var(--main-color);
}

#fechas{
  display: none;
}

#historial > div:last-child{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#historial > div:first-child {
  position: relative;
}

#historial > div:first-child p {
  font-size: 0.8rem;
  display: inline;
  position: absolute;
  right: 0;
  margin: 0;
}

#historial > div:first-child p:last-child {
  display: none;
}

#historial > div:first-child > h2 {
  display: inline;
}

#standard input[type="text"]{
  font-size: 1.3em;
}

.fa-trash-alt {
  color:var(--main-color);
}

.grid_container {
  display: grid;
  grid:
    "header"
    "menu"
    "main"
    "section"
    "footer";
  grid-gap: 10px;
  background-color: var(--main-color);
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid_container > div,
.grid_container > header,
.grid_container > nav,
.grid_container > main,
.grid_container > section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid_container > main > div,
.grid_container > main > section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

/*responsive design tablet + desktop*/
@media screen and (min-width: 700px) {
  .grid_container {
    width: 1200px;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .grid_container > div,
  .grid_container > header,
  .grid_container > nav,
  .grid_container > main,
  .grid_container > section,
  .grid_container > footer {
    padding: 20px;
  }

  .grid_container > main > section > div {
    margin-right: 15%;
    margin-left: 15%;
  }

  header {
    justify-content: center;
  }

  header > img {
    left: 20px;
    position: absolute;
    width: 80px;
    height: 80px;
}

  #fechas input {
    min-width: 45%;
  }

  #fecHasta{
    margin-left: 10px;
  }

  #fechas button{
    width: 20%;
  }

  #mobileMenu{
    display: none;
  }
}

/*responsive design mobile*/
@media screen and (max-width: 700px) {
  .grid_container > div,
  .grid_container > header,
  .grid_container > nav,
  .grid_container > main,
  .grid_container > section,
  .grid_container > footer {
    padding: 10px;
  }

  header > h1{
    display: none;
  }

  header > img {
    width: 50px;
    height: 50px;
  }

  nav {
    display: none;
  }

  #historial{
    display: none;
  }
  
  #fechas input {
    min-width: 90%;
  }

  #standard button:nth-child(5) {
    padding: 0;
  }

  /*menu mobile*/
  #mobileMenu #optionsMenu {
    display: none;
  }

  #optionsMenu{
    text-align: left;
  }
  
  #mobileMenu > a:first-child {
    color: white;
  }
  
  #mobileMenu a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  #mobileMenu a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 20px;
  }
  
  i.fas.fa-times{
    display: none;
  }

  .active {
    color: var(--main-color)!important;
  }
  /*end menu mobile*/
}
