body {
  font-family: "Open Sans Condensed", sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
}

h2 {
  font-size: 1em;
  font-family: "Krona One", sans-serif;
}

header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  border-radius: 15px;
}

nav {
  grid-area: menu;
  border-radius: 15px;
}

nav a,
input[type="text"] {
  background-color: white;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.3em;
  text-decoration: none;
  border-radius: 4px;
}

input[type="text"],
input[type="text"]:focus {
  border: 1px solid #2196f3;
  margin: 5px;
  width: 70%; /*TODO --> pasando el css lint da error, pero lo pongo para que ocupe una fila, si pongo display block no funciona*/
  outline: none;
}

input[type="text"]:nth-child(2) {
  text-align: right;
}

nav a:hover,
button:hover {
  background-color: grey;
  color: black;
}

main {
  grid-area: main;
  border-radius: 15px;
}

section {
  grid-area: section;
  border-radius: 15px;
}

footer {
  grid-area: footer;
  text-align: left !important; /*TODO pasando el lindt da error pero es mejor poner esto una vez,
                                que no poder la alineación por cada elemtno, asi me ahorro lineas de codigo*/
  position: relative;
  border-radius: 15px;
}

footer > a {
  color: #2196f3;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: #cddc398a;
  border: 1px solid orange;
  border-radius: 4px;
  width: 20%;
  font-weight: 700;
  font-size: 1em;
}

button:focus {
  background-color: orange;
  outline: none;
}

/*id styles*/
#right {
  /*TODO CSS LINT indica: Don't use ids in selectors -- no entiendo el problema*/
  display: inline; /*TODO CSS LINT indica no utilizar esta propiedad con margin 0, pero no se entonces como ordenarlos elementos como necesito*/
  right: 20px;
  position: absolute;
  margin: 0px; /*TODO CSS LINT da error, pero necesito este margin para ubicar el elemento donde necesitp */
}

#operand {
  font-weight: 700;
}

#operacion {
  color: #2196f3;
}

/*class styles*/
.grid_container {
  display: grid;
  grid:
    "header"
    "menu"
    "main"
    "section"
    "footer";
  grid-gap: 10px;
  background-color: #2196f3;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid_container > div,
.grid_container > header,
.grid_container > nav,
.grid_container > main,
.grid_container > section,
.grid_container > footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.grid_container > main > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}
/*responsive design tablet + desktop*/
@media screen and (min-width: 700px) {
  .grid_container {
    width: 1200px;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .grid_container > div,
  .grid_container > header,
  .grid_container > nav,
  .grid_container > main,
  .grid_container > section,
  .grid_container > footer {
    padding: 20px;
  }

  header > img {
    left: 20px;
    position: absolute;
  }

  button {
    padding: 20px;
  }
}

/*responsive design mobile*/
@media screen and (max-width: 700px) {
  .grid_container > div,
  .grid_container > header,
  .grid_container > nav,
  .grid_container > main,
  .grid_container > section,
  .grid_container > footer {
    padding: 10px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin-bottom: 5px;
    width: 8em;
  }

  button {
    padding: 10px;
  }

  button:nth-child(19) {
    padding: 0;
  }
}
