* {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Krona One', sans-serif;
}

h2{
    font-size: 1em;
}

header { 
    grid-area: header; 
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    border-radius: 15px;
}

nav {
    grid-area: menu;
    border-radius: 15px;
}

nav a,input[type="text"] {
    background-color: white;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 4px;
}
input#operacion{
    color: #2196F3;
}

input[type="text"],input[type="text"]:focus{
    border: 1px solid #2196F3;
    margin: 5px;
    width: 70%;
    outline: none;
}

input[type="text"]:nth-child(2){
    text-align: right;
}

nav a:hover,button:hover {
    background-color: grey;
    color: black;
}

main { 
    grid-area: main;
    border-radius: 15px;
}

section { 
    grid-area: section;
    border-radius: 15px;
}

footer { 
    grid-area: footer;
    text-align: left!important;
    position: relative;
    border-radius: 15px;
}

footer > a {
    color: #2196F3;
    text-decoration: none;
}

button{
    cursor: pointer;
    background-color: #cddc398a;
    border: 1px solid orange;
    border-radius: 4px;
    width: 20%;
    padding: 20px;
    font-weight: 700;
    font-size: 1em;
}

button:active{
    background-color: orange;
    outline: none;
}

/*id styles*/
#right{
    display: inline;
    right: 20px;
    position: absolute;
    margin: 0px;
}

#operand{
    font-weight: 700;
}

/*class styles*/
.grid-container {
  display: grid;
  grid:
  'header'
  'menu'
  'main'
  'section'
  'footer';
  grid-gap: 10px;
  background-color: #2196F3;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container > div,.grid-container > header,.grid-container > nav
,.grid-container > main, .grid-container > section,.grid-container > footer{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
}

.grid-container > main > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}
/*responsive design tablet + desktop*/
@media screen and (min-width: 700px){
    .grid-container{
        width: 1200px;
        box-sizing: border-box;
        padding-left: 200px;
        padding-right: 200px;
        padding-top:10px;
        padding-bottom: 10px;
    }

    header > img {
        left: 20px;
        position: absolute;
    }
}

/*responsive design mobile*/
@media screen and (max-width: 700px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 5px;
        width: 8em;
    }

    button:nth-child(19) {
        padding: 0;
    }
}
